
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="../assets/images/logo.png" />
  <a class="toolbar-title" [routerLink]="['']">Lava Java Cafe</a>
  <div class="spacer"></div>
</div>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="footer-section">
      <p>Copyright &copy; 2022, All Right Reserved | Java Lava Cafe</p>
    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
      <div>
        <ul class="footer-address">
          <li>100, The Boardwalk</li>
          <li>Kitchener</li>
          <li>Ontario</li>
        </ul>
      </div>
    </div>
</footer>